<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="text/html;charset=UTF-8"/>
    <title th:text="${title}"></title>
    <div th:replace="fragments/header :: css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sider :: sider"></div>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            <h1 th:text="${title}"></h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>EID</th>
                        <th>PlaceID</th>
                        <th>Time</th>
                        <th>Address</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="record : ${recordList}">
                        <td></td>
                        <td th:text="${record.getEid()}"></td>
                        <td th:text="${record.getPlaceId()}"></td>
                        <td th:text="${record.getTime()}"></td>
                        <td th:text="${record.getAddress()}"></td>
                        <td th:text="${record.getLongitude()}"></td>
                        <td th:text="${record.getLatitude()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<div th:replace="fragments/header :: js"></div>
</body>
</html>